<p id="notice"><%= notice %>jjhk</p>
<section class="engine"><a href="https://mobirise.info/b">create your own website for free</a></section><section class="cid-rMDynvoYLf mbr-fullscreen mbr-parallax-background" id="header2-5">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    YELLOW PAGE</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">SEARCH FOR COMPANIES AND THEIR CONTACTS.</p>
                <div class="mbr-section-btn">
                  <%= link_to 'GET ALL',contact_org_all_path ,:class=>'btn btn-md btn-secondary display-4' %>
                    </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>
 

<section class="features7 cid-rMHay5j3Zm" id="features7-j">
    
    

    
    <div class="container">
        <div class="row justify-content-center">

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media">
                    <div class="card-img pr-2">
                        <span class="mbri-bootstrap mbr-iconfont"></span>
                    </div>
                    <div class="card-box media-body">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            ADD YOUR COMPANY</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                           To be part of the list add&nbsp;<br>your company with out&nbsp;<br>creating an account.</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media"> 
                    <div class="card-img pr-2">
                        <span class="mbri-touch mbr-iconfont"></span>
                    </div>
                    <div class="card-box media-body">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            GET ANY COMPANY DETAIL</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Search for the company <br>from the list of compaines.<br></p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="media">
                    <div class="card-img pr-2">
                        <span class="mbr-iconfont mbri-edit2"></span>
                    </div>
                    <div class="media-body card-box">
                        <h4 class="card-title py-3 mbr-fonts-style display-7">
                            Remove or edit your company details.</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Remove or edit your company.</p>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="cid-rMHb0xlOR3" id="footer2-l">

    

    

    <div class="container">
        <div class="media-container-row content mbr-white">
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text">
                    <strong>Address</strong>
                    <br>
                    <br>King George VI St, Addis Ababa 1000<br>
                    <br>
                    <br><strong>Contacts</strong>
                    <br>
                    <br>Email: eden.abdisa@yahoo.com
                    <br>Phone: +251933910176&nbsp;<br>&nbsp;</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <p class="mbr-text"><br>
                    <br><strong>Feedback</strong>
                    <br>
                    <br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
                </p>
            </div>
            <div class="col-12 col-md-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCx3d07zxHPLvkFBLlAR3Ng8a9wsAsGoJ8&amp;q=place_id:ChIJIeCpK2SPSxYR82NoYHpoISM" allowfullscreen="">
                    
                  </iframe></div>
            </div>
        </div>
        <div class="footer-lower">
            <div class="media-container-row">
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
            <div class="media-container-row mbr-white">
                <div class="col-sm-6 copyright">
                    <p class="mbr-text mbr-fonts-style display-7">
                        © Copyright 2019 YellowPage - All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6">
                  
                    <div class="social-list align-right">
                        <div class="soc-item">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                            </a>
                        </div>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>