<section class="mbr-section form1 cid-rMDzs9NthM" id="form1-7">

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">ADD ORGANIZATION CONTACT</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    Check every thing since other will contact you through the phone number you specified.</h3>
            </div>
        </div>
    </div>
<%= render 'form', contact_org: @contact_org %>


</section>